{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/bricks?limit=3&offset=3" },
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ],
    "doc:first": { "href": "https://api.sybil.synyx.coffee/configuration/bricks?limit=3&offset=0" },
    "doc:last": { "href": "https://api.sybil.synyx.coffee/configuration/bricks?limit=3&offset=21" },
    "doc:next": { "href": "https://api.sybil.synyx.coffee/configuration/bricks?limit=3&offset=6" },
    "doc:previous": { "href": "https://api.sybil.synyx.coffee/configuration/bricks?limit=3&offset=0" }
  },
  "_embedded": {
    "doc:bricks": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/bricks/synerforge004" } },
        "doc:port": 4223
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/bricks/synerforge005" } },
        "doc:port": 4223
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/bricks/synerforge006" } },
        "doc:port": 4223
      }
    ]
  }
}
                  
            