{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/buttons" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "_embedded": {
    "doc:buttons": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/buttons/hauptschalter" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/buttons/tuer_sued" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/buttons/10_vorne" } }
      }
    ]
  }
}
                  
            