{
  "type": "http://sybil.synyx.coffee/errors/validation_error",
  "title": "Validation Error",
  "detail": "Input is not formatted as expected.",
  "fields": [
    {
      "field": "type",
      "type": "http://sybil.synyx.coffee/errors/validation_error#sensor_type",
      "title": "type is invalid",
      "detail": "'push' is not a valid type; type must be either 'on', 'off', or 'toggle'."
    }
  ]
}