{
  "_links": { "self": { "href": "/inputs/jenkins_sybil_web_ui/state" } },
  "curies": [
    {
      "name": "doc",
      "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
      "templated": true
    }
  ],
  "doc:state": "OK" 
}