{
  "type": "http://sybil.synyx.coffee/errors/validation_error",
  "title": "Validation Error",
  "detail": "Input is not formatted as expected.",
  "fields": [
    {
      "field": "state",
      "type": "http://sybil.synyx.coffee/errors/validation_error#input_state",
      "title": "state is invalid",
      "detail": "'shiny' is not a valid state; state must be either true, false, 'OK', 'WARNING' or 'CRITICAL'."
    }
  ]
}