{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/lights/tisch_contargo" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "doc:uid": "ah3",
  "doc:brick": "synerforge001"
}