{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/lights" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "_embedded": {
    "doc:lights": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/lights/tisch_contargo" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/lights/saeule_admins_1" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/lights/saeule_admins_2" } }
      }
    ]
  }
}
                  
            