{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "doc:type": "light",
  "doc:destination": [ "saeule_admins", 2 ],
  "doc:state": [ false ],
  "_embedded": {
    "doc:inputs": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs/hauptschalter" } },
        "doc:type": "binary",
        "doc:state": "true"
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs/schalter_admins" } },
        "doc:type": "binary",
        "doc:state": "true"
      }
    ]
  }
}