{
  "_links": {
    "self": { "href": "/outputs?type=ledstrip&limit=3&offset=3" },
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ],
    "doc:first": { "href": "/outputs?type=ledstrip&limit=3&offset=0" },
    "doc:last": { "href": "/outputs?type=ledstrip&limit=3&offset=12" },
    "doc:next": { "href": "/outputs?type=ledstrip&limit=3&offset=6" },
    "doc:previous": { "href": "/outputs?type=ledstrip&limit=3&offset=0" }
  },
  "_embedded": {
    "doc:outputs": [
      {
        "_links": { "self": { "href": "/outputs/ledstrip_indy" } },
        "doc:type": "ledstrip"
      },
      {
        "_links": { "self": { "href": "/outputs/ledstrip_admins" } },
        "doc:type": "ledstrip"
      },
      {
        "_links": { "self": { "href": "/outputs/ledstrip_contargo" } },
        "doc:type": "ledstrip"
      }
    ]
  }
}
