{
  "_links": {
    "self": { "href": "/outputs/saeule_admins" },
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ]
  },
  "doc:type": "light",
  "_embedded": {
    "doc:inputs": [
      {
        "_links": { "self": { "href": "/outputs/saeule_admins/inputs/hauptschalter" } },
        "doc:type": "binary",
        "doc:state": "true"
      },
      {
        "_links": { "self": { "href": "/outputs/saeule_admins/inputs/schalter_admins" } },
        "doc:type": "binary",
        "doc:state": "true"
      }
    ]
  }
}