{
  "_links": {
    "self": {"href": "https://api.sybil.synyx.coffee/"},
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ],
    "doc:index_inputs": {"href": "https://api.sybil.synyx.coffee/inputs"},
    "doc:index_outputs": {"href": "https://api.sybil.synyx.coffee/outputs"},
    "doc:configuration": {"href": "https://api.sybil.synyx.coffee/configuration"}
  }
}