{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/sensors" },
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ]
  },
  "_embedded": {
    "doc:sensors": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/sensors/luminance_admins" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/sensors/luminance_contargo" } }
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/configuration/sensors/motion_kitchen" } }
      }
    ]
  }
}
                  
            