{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/sensors/motion_kitchen" },
    "curies": [
      {
        "name": "doc",
        "href": "http://sybil.synyx.coffee/docs/rels/{rel}",
        "templated": true
      }
    ]
  },
  "doc:uid": "adkzz",
  "doc:brick": "synerforge036",
  "doc:type": "motion"
}