{
  "type": "http://sybil.synyx.coffee/errors/validation_error",
  "title": "Validation Error",
  "detail": "Input is not formatted as expected.",
  "fields": [
    {
      "field": "type",
      "type": "http://sybil.synyx.coffee/errors/validation_error#button_type",
      "title": "type is invalid",
      "detail": "'co2' is not a valid type; type must be either 'motion' or 'luminance'."
    }
  ]
}