<!-- <configuration scan="true"> --><!-- enable this to have the config file reread every minute -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <!-- set log directory to logs/ unless system property says otherwise -->
        <file>${logDirectory:-logs/}sybil.log</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logDirectory:-logs/}%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    
    </appender>

    <!-- set logging level to INFO unless system property says otherwise -->
    <logger name="org.synyx.sybil" level="${logLevel:-INFO}">
        <appender-ref ref="FILE" /> 
    </logger>
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
