html {
	font-size: 3vmin;
}

body {
	text-align: center;
	background-image:url(furley_bg.png);
		
	font-family: 'Prociono', Serif;
	font-weight: 400;
	font-size: .75em;
	color: #000000;
}

a {
	color: #000000;
}

.wrapper {
	width: 33em;
	text-align: left;
}

h1 {
	text-align: center;
}

.footer {
	font-size: .8em;
	color: #666666;
}

.footer a {
	color: #666666;
}