{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/configuration/buttons/10_vorne" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "doc:uid": "96omkl",
  "doc:brick": "synerforge037",
  "doc:type": "toggle"
}