{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/inputs?limit=3&offset=3" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ],
    "doc:first": { "href": "https://api.sybil.synyx.coffee/inputs?limit=3&offset=0" },
    "doc:last": { "href": "https://api.sybil.synyx.coffee/inputs?limit=3&offset=21" },
    "doc:next": { "href": "https://api.sybil.synyx.coffee/inputs?limit=3&offset=6" },
    "doc:previous": { "href": "https://api.sybil.synyx.coffee/inputs?limit=3&offset=0" }
  },
  "_embedded": {
    "doc:inputs": [
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/inputs/nagios_boreas" } },
        "doc:type": "status",
        "doc:state": "WARNING"
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/inputs/jenkins_puppetdb" } },
        "doc:type": "status",
        "doc:state": "OK"
      },
      {
        "_links": { "self": { "href": "https://api.sybil.synyx.coffee/inputs/hauptschalter" } },
        "doc:type": "binary",
        "doc:state": true
      }
    ]
  }
}
                  
            