{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs" },
    "curies": [
      {
        "name": "doc",
        "href": "http://wiki.sybil.synyx.coffee/rels/{rel}",
        "templated": true
      }
    ]
  },
  "_embedded": {
    "doc:inputs": [
      {
        "_links": { 
          "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs/hauptschalter" },
          "doc:edit": { "href": "https://api.sybil.synyx.coffee/inputs/hauptschalter" }
        },
        "doc:type": "binary"
      },
      {
        "_links": { 
          "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs/button_admins" },
          "doc:edit": { "href": "https://api.sybil.synyx.coffee/inputs/button_admins" }
        },
        "doc:type": "binary"
      }
    ]
  }
}
