{
  "type": "http://wiki.sybil.synyx.coffee/errors/validation_error",
  "title": "Validation Error",
  "detail": "Input is not formatted as expected.",
  "fields": [
    {
      "field": "type",
      "type": "http://wiki.sybil.synyx.coffee/errors/validation_error#output_type",
      "title": "type is invalid",
      "detail": "'firefly' is not a valid type; type must be either 'light', 'ledstrip' or 'notification'."
    }
  ]
}