{
  "_links": {
    "self": { "href": "https://api.sybil.synyx.coffee/outputs/saeule_admins/inputs/hauptschalter" },
    "doc:edit": { "href": "https://api.sybil.synyx.coffee/inputs/hauptschalter" }
  },
  "doc:type": "binary"
}